html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

form {
    background-color: lightcyan;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    width: 50%;
}